<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cardconnectplugin" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">

<name>cardconnectplugin</name><js-module name="cardconnectplugin" src="www/cardconnectplugin.js"><clobbers target="cordova.plugins" /></js-module>

<platform name="android">

<config-file parent="/*" target="res/xml/config.xml"><feature name="cardconnectplugin"><param name="android-package" value="cordova.plugin.cardconnectplugin.cardconnectplugin" /></feature></config-file>

<config-file parent="/*" target="AndroidManifest.xml"></config-file>

<source-file src="src/android/cardconnectplugin.java" target-dir="src/cordova/plugin/cardconnectplugin/cardconnectplugin" />

<source-file src="src/android/colors.xml"/>

<framework src="src/android/myplugin.gradle" custom="true" type="gradleReference"/>
<lib-file src="src/android/boltsdk-release.aar"/>

</platform>
</plugin>
